# Find Max and Min Comedian Averages

To identify potential overlaps in the transcripts on which the models perform best and worst, we analyze the maximum and minimum performance values for each model. This approach allows us to determine if there are specific transcripts where a model consistently excels or underperforms, thereby revealing any patterns or overlaps in the models' performance across different transcripts. 

All models demonstrated their highest performance on the second Trevor Noah transcript and their lowest performance on the Ali Wong transcript. This pattern indicates that, regardless of the model, the second Trevor Noah transcript consistently yielded better results, while the Ali Wong transcript consistently yielded poorer results.

### Imports

In [13]:
import sys
import pandas as pd
sys.path.append("..")
import seaborn as sns
import nltk
from thefuzz import fuzz

from humor.bipartite_metric import bipartite_metric

In [14]:
ground_truth = pd.read_csv('/home/ada/humor/data/stand_up_dataset/standup_data.csv')
gemma = pd.read_csv('/home/ada/humor/data/stand_up_dataset/gemma_answers.csv')
phi_model = pd.read_csv("/home/ada/humor/data/stand_up_dataset/phi3_mini_quotes.csv")
gemma2 = pd.read_csv("/home/ada/humor/data/stand_up_dataset/gemma2 - gemma2.csv")
llama = pd.read_csv("/home/ada/humor/data/stand_up_dataset/llama - llama.csv")

### Experiment

In [15]:
#Gemma
gemma_metric = bipartite_metric(gemma, ground_truth)
print("Maximum:", gemma_metric.max())
print("Minimum:", gemma_metric.min())

Maximum: comedian    Trevor_Noah_2
score           71.333333
dtype: object
Minimum: comedian    Ali_Wong
score       5.708333
dtype: object

In [16]:
gemma2_metric = bipartite_metric(gemma2, ground_truth)
print("Maximum:", gemma2_metric.max())
print("Minimum:", gemma2_metric.min())

Maximum: comedian    Trevor_Noah_2
score           63.571429
dtype: object
Minimum: comedian    Ali_Wong
score       3.233333
dtype: object

In [17]:
phi_metric = bipartite_metric(phi_model, ground_truth)
print("Maximum:", phi_metric.max())
print("Minimum:", phi_metric.min())

Maximum: comedian    Trevor_Noah_2
score              57.875
dtype: object
Minimum: comedian    Ali_Wong
score          3.875
dtype: object

In [18]:
llama_metric = bipartite_metric(llama, ground_truth)
print("Maximum:", llama_metric.max())
print("Minimum:", llama_metric.min())

Maximum: comedian    Trevor_Noah_2
score                69.7
dtype: object
Minimum: comedian    Ali_Wong
score          4.375
dtype: object

### Max Trevor Noah

In [19]:
ground_truth[ground_truth["comedian"] == "Trevor_Noah_2"]

,comedian,laugh_start,laugh_end,sentence
238,Trevor_Noah_2,13.273,17.662,"You can't be running in the streets: ""And a Ki..."
239,Trevor_Noah_2,26.474,27.698,"""Who the hell is this?!"" ""I'm not telling you."""
240,Trevor_Noah_2,60.423,62.326,"People would be like, ""Let him in. Let him in!"""
241,Trevor_Noah_2,74.216,78.397,"""He is so right. We've always got to ask, 'Who..."

In [20]:
gemma[gemma["comedian"] == "Trevor_Noah_2"]

          comedian                                           sentence
111  Trevor_Noah_2  You can't be normal man with a voice like that...
112  Trevor_Noah_2  It just doesn't work. I remember when Nelson M...
113  Trevor_Noah_2  Everything he did, he'd just be like, 'Ah, kno...

In [21]:
gemma2[gemma2["comedian"] == "Trevor_Noah_2"]

          comedian                                           sentence
121  Trevor_Noah_2                             And a Kit Kat, please.
122  Trevor_Noah_2                              Who the hell is this?
123  Trevor_Noah_2                               I’m not telling you.
124  Trevor_Noah_2                                  Ah, knock, knock.
125  Trevor_Noah_2                           Let him in. Let him in!"
126  Trevor_Noah_2         "No. No, no. You must say, ‘Who’s there?\'
127  Trevor_Noah_2  He is so right. We’ve always got to ask, ‘Who’...

In [22]:
phi_model[phi_model["comedian"] == "Trevor_Noah_2"]

          comedian                                           sentence
108  Trevor_Noah_2  He could not be a normal man with a voice like...
109  Trevor_Noah_2  You can’t be running in the streets: 'And a Ki...
110  Trevor_Noah_2  You can’t be silly. What are you making, prank...

In [23]:
llama[llama["comedian"] == "Trevor_Noah_2"]

          comedian                                           sentence
127  Trevor_Noah_2                             And a Kit Kat, please.
128  Trevor_Noah_2    Who the hell is this?!" "I\'m not telling you."
129  Trevor_Noah_2                                  Ah, knock, knock.
130  Trevor_Noah_2  Who\'s there?" "He is so right. We\'ve always ...

### Minimum of Ali Wong

In [24]:
ground_truth[ground_truth["comedian"] == "Ali_Wong"]

,comedian,laugh_start,laugh_end,sentence
77,Ali_Wong,21.007,28.986,We were screaming and fighting and yelling and...
78,Ali_Wong,48.803,51.189,We were all required to buy it when we were in...
79,Ali_Wong,56.780,60.001,All because what? It could graph.
80,Ali_Wong,62.470,66.230,It was like the Tesla of my time.
81,Ali_Wong,69.380,71.670,I do know... that I'm gonna have to clean all ...
82,Ali_Wong,93.523,98.684,"Because according to Deepak-Oprah, that's not ..."

In [25]:
gemma[gemma["comedian"] == "Ali_Wong"]

   comedian                                           sentence
6  Ali_Wong  It was like the worst experience of my life. I...
7  Ali_Wong  Those of you under 25 probably don't know what...
8  Ali_Wong                  It was like the Tesla of my time.
9  Ali_Wong  I'm not trying to be a procrastinator anymore....

In [26]:
gemma2[gemma2["comedian"] == "Ali_Wong"]

    comedian                                           sentence
9   Ali_Wong                  Don’t ever do that with your mom.
10  Ali_Wong  It was so emotional. We were screaming and fig...
11  Ali_Wong      She don’t even know… where the calculator is.
12  Ali_Wong  It was this calculator that bamboozled my gene...

In [27]:
phi_model[phi_model["comedian"] == "Ali_Wong"]

    comedian                                           sentence
6   Ali_Wong       It was like the worst experience of my life.
7   Ali_Wong  We were screaming and fighting and yelling and...
8   Ali_Wong      She don’t even know… where the calculator is.
9   Ali_Wong  It was like this Judy Jetson’s laptop from the...
10  Ali_Wong     I’m not trying to be a procrastinator anymore.

In [28]:
llama[llama["comedian"] == "Ali_Wong"]

    comedian                                           sentence
6   Ali_Wong                  Don’t ever do that with your mom.
7   Ali_Wong  It was like the worst experience of my life. I...
8   Ali_Wong      She don\'t even know where the calculator is.
9   Ali_Wong  Those of you under 25 probably don\'t know wha...
10  Ali_Wong  It was this calculator that bamboozled my gene...
11  Ali_Wong  We were all required to buy it when we were in...