# Human Agreement

In [74]:
import pandas as pd
import numpy as np
from statsmodels.stats.inter_rater import fleiss_kappa
import krippendorff

In [75]:
human = pd.read_csv("/home/ada/humor/data/stand_up_dataset/human_ans - Sheet1.csv")
num_participants = 10
human['not_funny'] = num_participants - human['funny']

Fleiss' Kappa

In [76]:
results = []
for comedian, group in human.groupby('comedian'):
    scores = group[['funny', 'not_funny']].values
    kappa = fleiss_kappa(scores)
    results.append({'comedian': comedian, 'fleiss_kappa': kappa * 100}) 
    
results_df = pd.DataFrame(results)
average_kappa = results_df['fleiss_kappa'].mean()
average_kappa

25.12644508772434

Krippendorffâ€™s Alpha

In [77]:
def binary(row):
    # Create a binary classification for each row
    num_participants = row['funny'] + row['not_funny']
    return [1] * row['funny'] + [0] * row['not_funny']

krippendorff_scores = []

average_kappa = results_df['fleiss_kappa'].mean()
average_kappa
for comedian, group in human.groupby('comedian'):
    expanded_ratings = group.apply(binary, axis=1)
    ratings_matrix = np.array(expanded_ratings.tolist()).T
    score = krippendorff.alpha(reliability_data=ratings_matrix, level_of_measurement='nominal')
    krippendorff_scores.append({'comedian': comedian, 'k_scores': score * 100}) 

results = pd.DataFrame(krippendorff_scores)
results

           comedian   k_scores
0          Ali_Wong  16.534181
1  Anthony_Jeselnik  33.178006
2      Hasan_Minhaj  15.452024
3        Jimmy_Yang  36.496231
4          Joe_List  20.999345
5      John_Mulaney  29.865479

In [78]:
results['k_scores'].mean()

25.420877611691477