# Human Agreement

In [1]:
import pandas as pd
import numpy as np
from statsmodels.stats.inter_rater import fleiss_kappa

In [2]:
human = pd.read_csv("/home/ada/humor/data/stand_up_dataset/human_ans - Sheet1.csv")
num_participants = 10
human['not_funny'] = num_participants - human['funny']

Fleiss' Kappa

In [11]:
results = []
for comedian, group in human.groupby('comedian'):
    scores = group[['funny', 'not_funny']].values
    kappa = fleiss_kappa(scores)
    results.append({'comedian': comedian, 'fleiss_kappa': kappa}) 
    
results_df = pd.DataFrame(results)
average_kappa = results_df['fleiss_kappa'].mean()
results_df.loc[len(results_df.index)] = ["Average", average_kappa]
results_df

           comedian  fleiss_kappa
0          Ali_Wong      0.160926
1  Anthony_Jeselnik      0.328984
2      Hasan_Minhaj      0.151693
3        Jimmy_Yang      0.362686
4          Joe_List      0.207351
5      John_Mulaney      0.295947
6           Average      0.251264